# Port d'écoute du serveur (automatiquement attribué par Render/Railway ou 3001 par défaut)
PORT=3001

# Clé secrète pour signer les jetons de connexion JWT (à changer impérativement en production)
JWT_SECRET=ffcs_cle_secrete_ultra_securisee_2026_production

# Environnement
NODE_ENV=production
